* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background: white;
font-family: 'Poppins', sans-serif;
font-weight: 400;
line-height: 1.75;
color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
margin: 3rem 0 1.38rem;
font-family: 'Poppins', sans-serif;
font-weight: 400;
line-height: 1.3;
}

h1 {
margin-top: 0;
font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

.logo-text{
    color:black;
    font-weight: 700;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
}

.bg-aqua{
   background-color: #c4f4ff;
}

/* ====Form==== */
.form-control{
    border:none;
}

/* ==== Icons Class ==== */

 .icons{
    margin:20px 0px;  
    /* float: left; */
    padding: 0.2rem;
 }

/* ==== Testimonials === */

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

.card{
    width: 100% !important;
}
 /* .card {
     position: relative;
     display: flex;
     width: 350px;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #d2d2dc;
     border-radius: 11px;
     margin: 0.2rem;
 } */

 /* .card .card-body {
     padding: 1rem 1rem
 }

 .card-body {
     flex: 1 1 auto;
     padding: 1.25rem
 } */

 p {
     font-size: 0.875rem;
     margin-bottom: .5rem;
     line-height: 1.5rem
 }

 h4 {
     line-height: .2 !important
 }

 .profile {
     margin-top: 16px;
     margin-left: 11px
 }

 .profile-pic {
     width: 58px
 }

 .cust-name {
     font-size: 18px
 }

 .cust-profession {
     font-size: 10px
 }

 .items {
     width: 90%;
     margin: 0px auto;
     margin-top: 100px
 }

 .slick-slide {
     margin: 10px
 }


 .bg_custm{
    background: url(../images/tap.jpg) no-repeat center #aaaaf8;
    background-size: cover;
    width: 100%;
    height: 60vh;
    background-blend-mode: color-burn;
 }

 .colForm{
    position:absolute;
    top: 65%;
    width: 90%;
 }
 @media (max-width:989px) {
    .colForm{
        position: unset;
    }
    .vh-100{
        height: 165vh!important;
    }
 }

 .top-20{
    top: 10%;
 }

 .w-25{
    max-width:  200px;
    width: 100%;
    height: 200px;
    object-fit: contain;
 }

 .approach{
    text-decoration: none;
    color: rgb(121, 152, 152) !important;
 }

.test_img{

clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
}

.faq_title{
    color: #13498C;
}

.faq_btn{
    background-color: white;
    color: #13498C;
    border: 1px solid #13498C;
    padding: 10px;
}

.contact{
    position: absolute;
    top: 85%;

}
@media (max-width:600px) {
    .w-30{
        display: block;
    }
    /* .vh-100{
        height: 165vh!important;
    } */
 }

.w-30{
    width: 25%;
}
.drain_img{
    height: 275px;
    object-fit: cover;
}

.team_img{
    width: 50%;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.faq_titles{
    color: #073168;
}

.contact_btn{
    background-color: #FF4919;
    color: white;
    border-radius: 0%;
    padding: 10px;
}

.cont_box{
    box-shadow: 0 0 10px 1px rgb(39, 35, 35);
}

.cs_img{
    width: 80%;
    height: 65%;
    object-fit: contain;
    border-radius: 0 30px 0 25px;
    box-shadow: 10px 10px 10px 0  black;
}

.css_img{
    width: 70%;
    height:50%;
    object-fit: contain;
    border-radius: 30px 0 25px 0;
    box-shadow: 0 0px 10px 2px  rgb(39, 35, 35);
}

.cs_imgs{
    width: 80%;
    height: 65%;
    object-fit: cover;
    border-radius: 0 30px 0 25px;
}

.overflowx{
    overflow: hidden;
}

.header_para{
    border: 2px solid #FBE89D;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    background: #FFFBEC;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 15px;
    color: black;
    font-weight: bolder;
}

.btn-colr{
    background-color: #75C46B;
    color: white;
    font-size: 20px;
    width: 370px;
    border-radius: 10px;
}

.form-resp{
    background-color: #75C46B;
}
@media (max-width:426px) {
    .forms-resp{
        margin: 30px 0px 0px 0px;
    
    }
 }


.nav-dec{
    margin-left: 150px;
}


.nav-decs{
    margin-left: 150px;
}

.nav-link1:hover{
    text-decoration: underline;
    color: black;
    font-weight: 600;
}
.nav-link2:hover{
    text-decoration: underline;
    color: black;
    font-weight: 600;
}
.nav-link3:hover{
    text-decoration: underline;
    color: black;
    font-weight: 600;
}
.nav-link4:hover{
    text-decoration: underline;
    color: black;
    font-weight: 600;
}
.nav-link5:hover{
    text-decoration: underline;
    color: black;
    font-weight: 600;
}
.nav-link6:hover{
    text-decoration: underline;
    color: black;
    font-weight: 600;
}

.font_style{
    font-family: 'Inter', sans-serif;
}

.contact_style{
    font-family: 'Poppins', sans-serif;
    color: #37A729;
}

.subtitle_para{
    text-align: center;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.form_head{
    background-color: #75C46B;
    text-align: center;
    color: white;
    padding: 15px 0px;
    border-radius: 20px 20px 0px 0px;
    font-family: 'Poppins', sans-serif; 
}

.form_title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 5px 15px;
}

.form-group,.requiredField{
    margin-bottom: 2%;
}

.textInput{
    border-bottom: 1px solid black !important;
    border-radius: 0 !important;
}

.radius {
    border-radius: 18px 18px 0px 0px;
}

.plumber_img{
    height: 35vh;
    width: 12vw;
}

.title_para{
    font-family: 'Poppins', sans-serif;
    font-size: 7vh;
    color: black;
    letter-spacing: -1px;
    margin: auto;
}

.subtitle_para{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgb(255, 230, 0), 0 0 1em rgb(246, 255, 0), 0 0 0.2em rgb(255, 251, 0);
    font-weight: bolder;
}

.order_div{
    width: 54vw;
    margin: auto;
    padding: 75px 13px 40px 12px;
}

@media (max-width : 772px) {
    .order_div{
        padding : 0px 0px 0px 0px;
        margin: 0;
        width: 100%;

    }
}

.cart_table{
    width: 100%;
}

.table_th{
    border-bottom: 2px solid grey;
}

.dlist-align{
    display: flex;
}