
.logo-text{
    color:black;
    font-weight: 700;
    font-size: 1.3em;
}

.bg-aqua{
   background-color: #c4f4ff;
}

/* ====Form==== */
.form-control{
    border:none;
}

/* ==== Icons Class ==== */

 .icons{
    margin:20px 0px;  
    /* float: left; */
    padding: 0.2rem;
 }

/* ==== Testimonials === */

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

.card{
    width: 100% !important;
}
 /* .card {
     position: relative;
     display: flex;
     width: 350px;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #d2d2dc;
     border-radius: 11px;
     margin: 0.2rem;
 } */

 /* .card .card-body {
     padding: 1rem 1rem
 }

 .card-body {
     flex: 1 1 auto;
     padding: 1.25rem
 } */

 p {
     font-size: 0.875rem;
     margin-bottom: .5rem;
     line-height: 1.5rem
 }

 h4 {
     line-height: .2 !important
 }

 .profile {
     margin-top: 16px;
     margin-left: 11px
 }

 .profile-pic {
     width: 58px
 }

 .cust-name {
     font-size: 18px
 }

 .cust-profession {
     font-size: 10px
 }

 .items {
     width: 90%;
     margin: 0px auto;
     margin-top: 100px
 }

 .slick-slide {
     margin: 10px
 }


 .bg_custm{
    background: url(../images/tap.jpg) no-repeat center #aaaaf8;
    background-size: cover;
    width: 100%;
    height: 60vh;
    background-blend-mode: color-burn;
 }

 .colForm{
    position:absolute;
    top: 65%;
    width: 90%;
 }
 @media (max-width:989px) {
    .colForm{
        position: unset;
    }
    .vh-100{
        height: 165vh!important;
    }
 }

 .top-20{
    top: 10%;
 }

 .w-25{
    max-width:  200px;
    width: 100%;
    height: 200px;
    object-fit: contain;
 }

 .approach{
    text-decoration: none;
    color: rgb(121, 152, 152) !important;
 }

.test_img{

clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
}

.faq_title{
    color: #13498C;
}

.faq_btn{
    background-color: white;
    color: #13498C;
    border: 1px solid #13498C;
    padding: 10px;
}

.contact{
    position: absolute;
    top: 85%;

}
@media (max-width:600px) {
    .w-30{
        display: block;
    }
    /* .vh-100{
        height: 165vh!important;
    } */
 }

.w-30{
    width: 25%;
}
.drain_img{
    height: 275px;
    object-fit: cover;
}

.team_img{
    width: 50%;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.faq_titles{
    color: #073168;
}

.contact_btn{
    background-color: #FF4919;
    color: white;
    border-radius: 0%;
    padding: 10px;
}

.cont_box{
    box-shadow: 0 0 10px 1px rgb(39, 35, 35);
}

.cs_img{
    width: 80%;
    height: 65%;
    object-fit: contain;
    border-radius: 0 30px 0 25px;
    box-shadow: 10px 10px 10px 0  black;
}

.css_img{
    width: 70%;
    height:50%;
    object-fit: contain;
    border-radius: 30px 0 25px 0;
    box-shadow: 0 0px 10px 2px  rgb(39, 35, 35);
}

.cs_imgs{
    width: 80%;
    height: 65%;
    object-fit: cover;
    border-radius: 0 30px 0 25px;
}

.overflowx{
    overflow: hidden;
}