{% load static %}

<div class="row row-cols-1 row-cols-lg-2 justify-content-evenly" id="about us">
    <div class="col text-center">
      <img src="../../static/images/about.jpg" class="img-fluid mx-5" alt="" srcset="">
    </div>

    <!-- progressbar -->

    <div class="col my-6">
        <div class="about company">
            <h1 class="text-center my-5 text-info">About Company</h1>
            <p class="fs-5 my-5">At Plumber JI, we all know what you wish before you’ve ever had it, we tend to build your life leak free.<br>Our team with pride offers an on-time guarantee and a 100 percent client satisfaction guarantee.<br>It’s why we tend to ensure that our licensed plumbers square measure extremely trained and absolutely equippedto meet your home’s various plumbing service desires.<br>First Class Quality Service at reasonable costsImmediate 24/ seven Emergency Service</p>
        </div>

    </div>
  </div>