{% load static %}
<div>
    <div class="container">
        <div class="about company">
            <h1 class="text-center my-5 bg-light">About Company</h1>
            <p class="text-center fs-4">At Plumber JI, we all know what you wish before you’ve ever had it, we tend to build your life leak free.<br>Our team with pride offers an on-time guarantee and a 100 percent client satisfaction guarantee.<br>It’s why we tend to ensure that our licensed plumbers square measure extremely trained and absolutely equippedto meet your home’s various plumbing service desires.<br>First Class Quality Service at reasonable costsImmediate 24/ seven Emergency Service</p>
        </div>
    </div>    
</div>