{% load static %}
<div>
    <h3 class='mt-5'>What else can we Offer:</h3>
    <div class="card mt-5 bg-secondary" style="width: 10rem;">
        <div class="card-body">
          <h3 class="card-title text-white"><u>Additional Services</u></h3>
          <p class="card-text fs-4 mt-5 text-white">We’re committed to providing quick, affordable, reliable, worry-free plumbing and heating services.<br>Water Heater Repair<br>Drain clean-up<br>Sewer line clean-up<br>Leak Detection<br>Hot Water System</p>
          <a href="#" class="btn btn-primary mt-3">KNOW MORE</a>
        </div>
    </div>
    <div>
        <h3 class="mt-5 fs-1">How we tend to Work:</h3>
        <p class="mt-3 fs-4">Easier than you'll be able to Think!<br>Our goal is to supply our customers with skilled plumbing services. we tend to pride ourselves on our reliable and friendly service.</p>
        <div class="fs-3">
            <ul>
                <li><u>Inspect & Analyze</u></li>
                <li><u>Quote & offer Services</u></li>
                <li><u>Clean Up & end</u></li>
            </ul>
        </div>
    </div>
    <div>
        <h3 class="mt-5 fs-1">Plumbing Emergency</h3>
        <p class="fs-4">There is a never associate emergency fee with Plumber Ji Quality Plumbing Services from a Team of prosRequest a Quote (Form)</p>
        <div>
            <h3 class="mt-5 fs-1">Frequently Asked Questions:</h3>
            <p class="fs-4">From emergency plumbing services to slab leak repair, we’ve put togethera comprehensive run down of questions we hear most often.
            </p>
            <h3 class="ms-4">Plumbing Service FAQs:
            </h3>
            <p class="ms-5 fs-4">	1.	What do you charge for services?<br>
                Ans: We charge a cost-efficient fee for coming out and quote each job in writing before the work begins. All of our work is backed by a 100% satisfaction guarantee.<br><br>
                2.	If I call in for service on Saturday, will it cost me more?<br>
                Ans:  Our service Charges are same as weekdays on weekends as well.<br><br>
                    3.	Are all new toilets water saving toilet suites?<br>
                Ans: One of the biggest ways a seemingly trivial toilet can contribute to the overall sustainable ecosystem of a building is by helping it save water.<br><br>
                    4.	What do you do when servicing a tap?<br>
                Ans: We have detailed full procedure for changing a washer and re-grinding the seat to stop a tap dripping.<br><br>
                    5.	How long will a water heater last?<br>
                Ans: As long as it’s still heating water sufficiently, without leaks or strange noises, you might get a few more years of service from it. A water heater’s useful life varies, depending on the type of water heater, the quality of the unit, and how well it’s been maintained.<br><br>
                    6.	How Do I Unclog My Main Sewer Line?<br>
                       Ans: There are three main ways to unclog a sewer line. There are three options for unclogging a blocked sewer line:<br>
                    •	hydraulic drain cleaning<br>
                    •	mechanical drain cleaning<br>
                    •	chemical drain cleaning<br>
                Cleaning a sewer main line is necessary to remove any non-biodegradable debris or sludge. When a sewer line is clogged or during maintenance, cleaning is required. Call Plumber Ji for any drain cleaning services you need in Mumbai.
            </p>
            <h3 class="ms-4 mt-5">Bathroom Plumbing FAQs:</h3>
            <p class="ms-5 fs-3">No one wants to see their bathroom plumbing go down the drain, but it happens. Simple problems, such as a clogged or running toilet, are easy to fix, while larger problems, like a backed-up toilet, are tasks you’ll want to leave to the professionals.
            </p>
            <p class="ms-5 mt-4 fs-4">	1.	How do I choose a Toilet?
                <br>
                Ans: Look online for comparisons on flush ratings, as well as available rebates on high–efficiency models. Consider features such as pressure assists and heightened thrones when choosing a toilet.<br><br>
                2.	Why is my toilet always running?
                <br>
                Ans: A running toilet is usually caused by a flapper, the rubber or plastic valve on the bottom of your tank, that fails to seal. Open the toilet tank and adjust the float arm to see if the water stops an inch below the overflow pipe. If the water doesn’t continue to fill, the flapper needs replaced.<br><br>
                    3.	Why is sewage coming out of the toilet?<br>
                    Ans: If sewage is coming out of your toilet, it’s likely caused by a backup in the main sewage line. call a plumber right away for assistance. Our Plumbing team resolve the cause of sewage problem and give you the information about the fix.<br><br>
                    4.	What causes residue and stains in the Bathtub?
                    <br>
                Ans: Low pH and acid water, both of which are caused by high amounts of carbon dioxide in the water supply, can cause rusty, blue or green stains in the bathtub.<br><br>
                5.Do I actually need maintenance on my Bathroom Plumbing?<br>
                Ans: Maintenance on your bathroom’s plumbing is necessary whenever a faucet leak persists or drain blockage occurs. A clogged toilet, or toilet that continues to run, as well as low water pressure also mandate service, especially when do-it-yourself (DIY) home repairs fail to fix the problem.<br><br>
                    6.	How Often do I need maintenance on my Bathroom Plumbing?
                    <br>
                       Ans:Ans: Plumbing maintenance should be performed every 18 months to two years, or whenever an issue arises with your bathroom’s plumbing.
            </p>
        </div>
        <div>
            <h3 class="mt-5 fs-1">Testimonials:</h3>
            <h4 class="ms-4 mt-4">Format 1:</h4>
            <h4 class="ms-4 mt-5">What people say about Us:</h4>
            <h4 class="ms-4 mt-4">***** </h4>
            <p class="ms-4 fs-4">
                Called for someone to come out to take a look at a leak under my sidewalk next to my house/front door. Two gentlemen came out of time, quickly diagnosed the problem, and gave me information about the fix.
            </p>
            <h4 class="ms-4 mt-3">---Harsith Mehra, Supervisor</h4>

            <h4 class="ms-4 mt-5">What people say about Us:</h4>
            <h4 class="ms-4 mt-4">***** </h4>
            <p class="ms-4 fs-4">
                Service was great! The plumber was extremely helpful and courteous. He fixed my issues quickly and was very respectful of my time constraints with another appointment. I appreciate help!
            </p>
            <h4 class="ms-4 mt-3">--- Kanan Das, Homeowner</h4>

            <h4 class="ms-4 mt-5">Format 2:</h4>
            <h4 class="ms-4 mt-4">What our Clients Say</h4>
            <p class="ms-4 fs-4">
                Having plumbing problems causes so many inconveniences, but your company is real saviour! Thank you for fast assistance!
            </p>
            <h4 class="ms-4 mt-5">Justin Moore (Customer)</h4>
            <p class="ms-4 fs-4">
                In case of a plumbing emergency, you should have a professional backup. I trust Plumber Ji 100% and will recommend to everyone!
            </p>
            <h4 class="ms-4 mt-2">Samantha Verma (Customer)</h4>

            <h4 class="ms-4 mt-5">Format 3:</h4>
            <h4 class="ms-4 mt-4">See what others have to Say</h4>
            <p class="ms-4 fs-4">
                I would highly recommend Plumber Ji Plumbing because they arrived as promised and considered my 85-year-old mom when it came to the final bill.
            </p>
            <h4 class="ms-4 mt-2">Dave</h4>
            <p class="ms-4 fs-4">
                We called Plumber Ji Plumbing around 12 (midnight) on a Sunday, because water was backing up in our toilets and bathtubs. (Plumber Name) came within 15 minutes...
            </p>
            <h4 class="ms-4 mt-2">Pranab</h4>
        </div>
        <h3 class="mt-5 fs-1">Contact Information:</h3>
        <p class="fs-4">Head workplace<br>Phone Numbers<br>Working Time.</p>
    </div>
</div>
