<hr>
<footer class="my-4">
    <div class="text-center">
        <h6 style="color:gray;">Copyright Plumberji 2023 </h6>
    </div>
</footer>
        {% comment %} <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool
                        stuff</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random
                        feature</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team
                        feature</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for
                        developers</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another
                        one</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last
                        time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none"
                        href="#">Resource</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource
                        name</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another
                        resource</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final
                        resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a>
                </li>
                <li class="mb-1"><a class="link-secondary text-decoration-none"
                        href="#">Locations</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a>
                </li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a>
                </li>
            </ul>
        </div> {% endcomment %}
