  <div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand text-center">
                <span class="fs-4 logo-text">Plumberji</span><br>
                <span class="fs-6">Professional plumbing solutions </span>
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="me-3 py-2 fs-5 text-dark text-decoration-none" href="{% url 'about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="me-3 py-2  fs-5 text-dark text-decoration-none"href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="me-3 py-2 fs-5 text-dark text-decoration-none" href="{% url 'support' %}">Support</a>
                </li>
                <li class="nav-item">
                    <span class="me-3 py-2 fs-5 text-dark">|</span>
                </li>
                <li class="nav-item">
                    <a class="me-3 py-2 fs-5 text-dark text-decoration-none" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="me-3 py-2 fs-5 text-dark text-decoration-none" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="me-3 py-2 fs-5 text-dark text-decoration-none" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            <span class="badge rounded-pill text-danger p-2 mx-3 fs-5">
                <p class="text-dark">Need Help Now? Call US? </p>
                Call : +91 9820100756</i></span>
          </div>
        </div>
      </nav>
</div>
{% comment %} <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom bg-light">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4 logo-text">plumberji </span>
            <span class="fs-6 mx-3">Professional plumbing solutions </span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto navbar-light">
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'about' %}">About
                Us</a>
            <a class="me-3 py-2 text-dark text-decoration-none"
                href="{% url 'contact' %}">Contact</a>
            <a class="me-3 py-2 text-dark text-decoration-none"
                href="{% url 'support' %}">Support</a>
            <span class="me-3 py-2 text-dark">|</span>
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'login' %}">Login</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'register' %}">Register</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'logout' %}">Logout</a>


        </nav>
        <span class="badge rounded-pill bg-primary p-2 mx-3">
            Call: +91 9820100756</span>
    </div>
</header> {% endcomment %}