<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- navbar -->
<div class="container border-bottom border-1 border-dark">
  <nav class="navbar navbar-expand-lg navbar-light px-md-5">
    <div class="container-fluid">
      <a href="/" class="navbar-brand text-center">
        <span class="fs-4 logo-text">Plumberji</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dec ms-auto mb-lg-0 text-muted font_style">
          <li class="nav-item fw-normal fs-6 mx-md-4 nav-link1">
            <a class="text-decoration-none text-black" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item fw-normal fs-6 mx-md-4 nav-link2">
            <a class="text-decoration-none text-black" href="{% url 'about' %}">About Us</a>
          </li>
          <li class="nav-item fw-normal fs-6 mx-md-4 nav-link3">
            <a class="text-decoration-none text-black" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item fw-normal fs-6 mx-md-4 nav-link4">
            <a class="text-decoration-none text-black" href="{% url 'support' %}">Services</a>
          </li>
          {% comment %}
          <li class="nav-item">
            <span class="me-3 py-2 >|</span>
          </li>
          {% endcomment %}
          <li class=" nav-item fw-normal fs-6 mx-md-4 nav-link5">
              <a class="text-decoration-none text-black" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item fw-normal fs-6 mx-md-4 nav-link6">
            <a class="text-decoration-none text-black" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item fw-normal fs-4 mx-md-4 nav-link6">
            <a class="text-decoration-none text-black py-2" href="{% url 'carts' %}">
              <i class="bi bi-cart-dash"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Contact Number -->
<div class="container">
  <div class="">
    <h5 class="contact_style text-end m-4">Plumbing No:+91 9820100756</h5>
  </div>
</div>