  <div class="mt-3">
      <header>
          <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                  <span class="fs-4 logo-text">plumberji </span>
                  <span class="fs-6 mx-3">Professional plumbing solutions </span>
              </a>

              <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                  <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'about' %}">About
                      Us</a>
                  <a class="me-3 py-2 text-dark text-decoration-none"
                      href="{% url 'contact' %}">Contact</a>
                  <a class="me-3 py-2 text-dark text-decoration-none"
                      href="{% url 'support' %}">Support</a>
                  <span class="me-3 py-2 text-dark">|</span>
                  <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'login' %}">Login</a>
                  <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'register' %}">Register</a>
                  <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'logout' %}">Logout</a>


              </nav>
              <span class="badge rounded-pill bg-primary p-2 mx-3">
                  Call: +91 9820100756</span>
          </div>
      </header>
  </div>