{% load static %}
  <div class="row row-cols-1 row-cols-lg-2 justify-content-center align-items-center g-3 my-5">
    <div class="col text-center">
      <div class="card bg-light shadow-lg p-3 mb-5 bg-body rounded " style="width: auto">
        <img src="../static/images/icons/plumbing mantainance.png" class="img-fluid m-auto w-25" alt="..." />
        <div class="card-body">
          <h2 class="card-title text-center">Plumbing Maintenance</h2>
          <p class="card-text text-center small">
            does one have a leaky regulator or clogged drain? Call Plumber Ji for Fixing.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light shadow-lg p-3 mb-5 bg-body rounded" style="width: auto">
        <img src="../static/images/icons/emergency plumbing icon.png" class="img-fluid m-auto w-25" alt="..." />
        <div class="card-body">
          <h2 class="card-title text-center">Emergency Plumbing</h2>
          <p class="card-text text-center small">
            We’re open 24/7/365 as a result of plumbing emergencies don’t wait.
          </p>
        </div>
      </div>
    </div>
  </div>
