{% load static %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card bg-light shadow-lg p-3 mb-5 bg-body rounded " style="width: auto">
        <img src="../static/images/icons/plumbing mantainance.png" class="card-img-top ps-5 ms-5 w-50 p-3" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-center">Plumbing Maintenance</h5>
          <p class="card-text text-center">
            does one have a leaky regulator or clogged drain?<br> Call Plumber Ji for Fixing.

          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light shadow-lg p-3 mb-5 bg-body rounded" style="width: auto">
        <img src="../static/images/icons/emergency plumbing icon.png" class="card-img-top ps-5" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-center">Emergency Plumbing</h5>
          <p class="card-text text-center">
            We’re open 24/7/365 as a result of plumbing emergencies don’t wait.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
