{% load static %}
<div
  class="row row-cols-1 row-cols-lg-2 align-items-center justify-content-center"
>
  <div class="p-2">
    <img
      class="img-fluid"
      src="{% static '../../static/images/call-plumber.jpg' %}"
      alt=""
    />
    <div class="col">
      <p class="display-5">Call Us Now</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde,
        repellendus repudiandae sed accusantium possimus beatae, adipisci hic,
        quidem eaque non eligendi? Tenetur, eligendi labore? Similique
        necessitatibus sed repudiandae vero eos.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde,
        repellendus repudiandae sed accusantium possimus beatae, adipisci hic,
        quidem eaque non eligendi? Tenetur, eligendi labore? Similique
        necessitatibus sed repudiandae vero eos.
      </p>
    </div>
  </div>
</div>
