{% load static %}
<div class="d-flex col-md-12">
    <div class="d-flex align-items-center  p-5">


        <img class="img-fluid" src="{% static '../../static/images/call-plumber.jpg' %}" alt="">

        <div>
            <p class="display-5">Call Us Now</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, repellendus
                repudiandae sed accusantium possimus beatae, adipisci hic, quidem eaque non
                eligendi? Tenetur, eligendi labore? Similique necessitatibus sed repudiandae vero
                eos.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, repellendus
                repudiandae sed accusantium possimus beatae, adipisci hic, quidem eaque non
                eligendi? Tenetur, eligendi labore? Similique necessitatibus sed repudiandae vero
                eos.</p>
        </div>
    </div>

</div>