{% load static %}
<link rel="stylesheet" href="../../static/css/styles.css">
<div class="head mt-5">
    <h3 class="text-info">What except from us:-</h3>
            <div class=" container bg-light my-4">
                <div class="row row-cols-1 row-cols-lg-2 justify-content-center align-content-center">
                    <div class="col-md-6 card-body">
                        <h2 class="fw-bold">Our Approach</h2>
                        <p class="card-text mt-4 fs-5 text-blank fs-6 lh-6">Our approach has been easy. offer a competitive worth victimization qualified plumbers with no hidden fees backed by a 100 percent guarantee on acquirement.Our plumbers square measure on the market currently for any plumbing repairs or installation services for your home or business.We offer choices for rating on each repairExpert, bonded acquirement
                        </p>
                        <p class="text-primary my-5 fs-5 lh-6">
                            -> We offer options for pricing on every repair<br>
                            -> Expert, guaranteed workmanship
                        </p>
                        <div class="text-dark">
                            <div>
                                <ul>
                                    <li>
                                        <span class="text-primary">Plumbing Specialists:</span><br> Our team can work showing intelligence to return up with the best resolution so execute it utterly.
                                    </li>
                                    <li><span class="text-primary">A Friendly Face:</span><br> We'll forever take the time to clarify what you'll be able to do to ,stay your utility similarly as doable.
                                    </li>
                                    <li><span class="text-primary">A Industry Leaders:</span><br> Our team manages to remain prior to the gang by forever integration new advances.
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
                <div class="col text-center">
                    <img src="../../static/images/approach.jpg" class="image-fluid my-5 cs_imgs"  width="90%" height="60%" alt="" srcset="">
                </div>
                </div>
                
                
            </div>


        <div class="container">

                <div class="bg-light row row-cols-1 row-cols-md-2 justify-content-center align-items-center">
                    <div class="card-body col ">
                        <h2 class="card-title text-start fw-bold">Why select Us:</h2>
                        <p class="card-text mt-4 fs-5 text-blank fs-6 lh-6">Expect the simplest with Our Service<br>Our goal is to supply our customers with extremely skilled plumbing services. we tend to pride ourselves on our reliable and friendly service that customers will trust.<br>Our skilled team square measure on decision 24/7 for any plumbing emergency<br>You approve the worth before we tend to begin the workWe treat your property like our own</p>

                        <div>
                            <ul>
                                <li><span class="text-primary">Experience Team:</span><br>Most of the workers have good expertise.</li>
                                <li><span class="text-primary">Friendly Experts:</span><br>We tend to use the most courteous professionals.</li>
                                <li><span class="text-primary">Fully Licensed:</span><br>All of our technicians’ square measure absolutely licensed.
                                </li>
                                <li><span class="text-primary">Quality each Time:</span>We tend to warrant reliable service with each job!</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="text-dark col text-center">
                        <img src="../../static/images/select.jpg" class="image-fluid cs_imgs my-5 justify-content-center cs_img"  width="90%" height="60%" alt="" srcset="">
                    </div>

                    
                </div>
                
        </div>
</div>   