{% load static %}
<div class="head mt-5">
    <h3>What except from us:-</h3>
    <p class="fs-4 mt-3">Economical Residential & Industrial Plumbing Services!<br>we tend to build residences and businesses snug once more</p>
    <div class="row mt-5">
        <div class="col-sm-6">
            <div class="card bg-secondary">
                <div class="card-body">
                    <h2 class="card-title text-center text-white"><u>Our Approach</u></h2>
                    <p class="card-text text-center mt-4 fs-5 text-white">Our approach has been easy. offer a competitive worth victimization qualified plumbers with no hidden fees backed by a 100 percent guarantee on acquirement.Our plumbers square measure on the market currently for any plumbing repairs or installation services for your home or business.<br>We offer choices for rating on each repairExpert, bonded acquirement
                    </p>
                </div>
                <div class="text-light">
                    <div>
                        <ul>
                            <li><u>Plumbing Specialists:</u> Our team can work showing intelligence to return up with the best resolution so execute it utterly.
                            </li>
                            <li><u>A Friendly Face:</u> We'll forever take the time to clarify what you'll be able to do to ,stay your utility similarly as doable.
                            </li>
                            <li><u>A Industry Leaders:</u> Our team manages to remain prior to the gang by forever integration new advances.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-secondary">
                <div class="card-body">
                    <h2 class="card-title text-center text-white"><u>Why select Us:</u></h2>
                    <p class="card-text text-center mt-4 fs-5 text-white">Expect the simplest with Our Service<br>Our goal is to supply our customers with extremely skilled plumbing services. we tend to pride ourselves on our reliable and friendly service that customers will trust.<br>Our skilled team square measure on decision 24/7 for any plumbing emergency<br>You approve the worth before we tend to begin the workWe treat your property like our own</p>
                </div>
                <div class="text-light mt-4">
                    <div>
                        <ul>
                            <li><u>Experience Team:</u>Most of the workers have good expertise.</li>
                            <li><u>Friendly Experts:</u>We tend to use the most courteous professionals.</li>
                            <li><u>Fully Licensed:</u>All of our technicians’ square measure absolutely licensed.
                            </li>
                            <li><u>Quality each Time:</u>We tend to warrant reliable service with each job!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   