{% load static %}
<div class="container">
    <div class="flex">
        <h2 class="text-center py-5">Our Services</h2>
        <div class="d-flex flex-wrap  ">
            <div class="d-flex p-2 col-md-3">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img icons p-2">
                            <img src="{% static '../../static/images/icons/bathroom.png' %}"
                                width="32px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Bathroom Plumbing</h4>
                            <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex p-2 col-md-3">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img icons p-2">
                            <img src="{% static '../../static/images/icons/drain.png' %}"
                                width="32px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Drain Cleaning</h4>
                            <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex p-2 col-md-3">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img icons p-2">
                            <img src="{% static '../../static/images/icons/Broken-toilet.png' %}"
                                width="32px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Broken Toilets</h4>
                            <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ====== -->

            <div class="d-flex p-2 col-md-3">

                <div class="services-inner">
                    <div class="our-services-img icons p-2">
                        <img src="{% static '../../static/images/icons/Broken-faucet.png' %}"
                            width="32px" alt="">
                    </div>
                    <div class="our-services-text">
                        <h4>Faucet & Fixture Repairs</h4>
                        <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                    </div>

                </div>
            </div>
            <div class="d-flex p-2 col-md-3">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img icons p-2">
                            <img src="{% static '../../static/images/icons/kitchen-plumbing.png' %}"
                                width="32px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Kitchen Plumbing</h4>
                            <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex p-2 col-md-3">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img icons p-2">
                            <img src="{% static '../../static/images/icons/sewer.png' %}"
                                width="32px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Outside plumbing</h4>
                            <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============ -->

            <div class="d-flex p-2 col-md-3">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img icons p-2">
                            <img src="{% static '../../static/images/icons/sewer.png' %}"
                                width="32px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Sewer Cleaning</h4>
                            <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex p-2 col-md-3">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img icons p-2">
                            <img src="{% static '../../static/images/icons/sink-repair.png' %}"
                                width="32px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Sink Repair</h4>
                            <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex p-2 col-md-3">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img icons p-2">
                            <img src="{% static '../../static/images/icons/pipe-leak.png' %}"
                                width="32px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Pipe Leak Repair</h4>
                            <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============= -->

            <div class="d-flex p-2 col-md-3">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img icons p-2">
                            <img src="{% static '../../static/images/icons/drain-installation.png' %}"
                                width="32px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>New Drain Installation</h4>
                            <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex p-2 col-md-3">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img icons p-2">
                            <img src="{% static '../../static/images/icons/Water-heater.png' %}"
                                width="32px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Hot Water Heaters</h4>
                            <p>Proin varius pellentesque nuncia tincidunt ante. In id lacus</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>