{% load static %}
<div class="container">
    <div class="flex">
        <h2 class="text-center py-5"><u>Our Services</u></h2>
        <h6 class="small text-center h6 mb-5 fs-5"> Services are you able to rely on after you decide on the Plumber Jiwe all know that trying to find plumbing services is somewhat of a parcel of land,particularly if you’ve sprung a leak or had a breakdown.</h6>
        <div class="d-flex flex-wrap  ">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5 p-3 mb-5 bg-body rounded ">
                    <div class="card">
                        <div class="card-body bg-light capsule rounded-3" >
                            <img class="w-100" src="../../static/images/commercial.jpeg" alt="img">                
                            <p class="fs-5 text-black mt-2">
                            ->Preventive Maintenance <br>->Drain clean-up Services <br>->Sewer Installation<br>->Pipe Repair and Installation<br>->Hot water heat <br>->Sewer Repairs<br>->New Construction Installation<br>->Fixture Installation and Repair
                            </p>
                        </div>
                        
                            
                    </div>
                </div>
                <div class="col-md-4 mb-5 p-3 mb-5 bg-body rounded">
                    <div class="card h-100">
                        <div class="card-body bg-light capsule rounded-3">
                            <img class="w-100 h-30" src="../../static/images/residental.jpeg" alt="img">
                            <p class="fs-5 text-black mt-2">
                                ->Slab leaks <br>->Copper Re-piping <br>->Water heater repair and <span class="px-4">Installation</span><br>->Drain clean-up
                            </p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 mb-5 p-3 mb-5 bg-body rounded">
                    <div class="card h-100">
                        <div class="card-body bg-light capsule rounded-3">
                            <img class="w-100 h-45" src="../../static/images/emergency.jpeg" alt="img">
                            <p class="fs-5 text-black mt-2">
                                ->Hot water system <span class="px-4">replacement</span> <br>->Unblocking Drains <br>->Unblocking bogs <br>->Leaking faucet Repairs <br>->Burst and unseaworthy pipes
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- ====== -->

            

        </div>
    </div>