{% extends 'base.html' %}


{% block about %}
<h1>	•	About Company: </h1>
<h1 >Plumber Ji has more than N/A years of experience in Plumbing Services.</h1>
<h2>We take pride in being able to bring out the best solution to your problem in a quick, professional and friendly manner.</h2>
<p class="mt-5 fs-3">
    Our lines stand above the competition because of our design, fit, quality and of course, SERVICES. Which make us standout from other plumbing companies.<br><br>
Here at Plumber Ji, we are able to perform short or long diagnoses, and supply precise Plumbing Service at a competitive value.<br><br> 
CEO/Founder: (Sign & small photograph)<br><br>
</p>
<h3 class="ms-3">	•	Why choose Us:</h3>
<h4 class="ms-2 mt-3">We are committed to provide you with the utmost in Quality Service</h4>
<p class=" ms-3 mt-3 fs-4">Our number one priority is providing redoubtable customer service for each and every job, so that you walk away 100% Delighted each and every time.<br><br>
	1.	The client is for we exist<br>
	2.	Meet commitments no matter what<br>
	3.	Take no sidesteps<br>
	4.	Leave work area squeaky-clean<br>
	5.	Finish on time<br>
	6.	Arrive on time<br>
	7.	Maintain precise records<br>
    8.  Be truthful</p>
<h3 class="ms-3 mt-3">	•	Latest Projects:</h3>
<p class=" ms-3 mt-3 fs-4">In the photos below you'll see examples, not solely of the big selection of labour we've got undertaken within the past however you'll be able to see the standard acquisition provided by our skillful engineers.<br> 
    1. Residential:  Large Ensuite (attach picture), Bathroom & Physio Room, Small Family Bathroom, Family Bathroom, Stylist Bathroom, Bathroom.<br>
    2. Commercial: Leak detection & repair (attach picture), water gas piping, drain cleaning & sewer services, water heater repair and installation,etc.
    </p>
<h3 class="ms-3 mt-3">	•	Our Team:</h3>
<h3 class="ms-4 mt-3">Your Professional Plumbing Technicians
</h3>
<p class=" ms-3 mt-3 fs-4">Our company is dedicated to providing outstanding customer service backed by years of experience, professionalism and Intelligence.<br>
    Team member names:<br>
    For e.g.: Stanley Flakes (Plumber)
    </p>
<h3 class="ms-3 mt-3">	•	We work in:</h3>
<h3 class="ms-4 mt-3">Area’s, We Cover</h3>
<p class=" ms-3 mt-3 fs-4">Working with a sure company to produce you with plumbing and HVAC services will go an extended manner towards serving to you feel assured within the quality of the pipes, sewer lines, and heating and cooling system in your home or business.<br><br>

    All Location-(Button)<br><br></p>
<h3 class="ms-4 mt-3">Locations:</h3>
<h3 class="ms-4 mt-3">For e.g.: Delaware, Pennsylvania. (Area, City)</h3>
<h3 class="ms-3 mt-3">	•	Reviews from Our Satisfied Customers</h3>
<h3 class="ms-4 mt-3">Hear what our happy customers ought to say regarding Plumber Ji. Our plumbing contractors are fully fledged, reliable, and skilled.</h3>
<p class=" ms-4 mt-4 fs-4">	1.	Called for someone to come out to take a look at a leak under my sidewalk next to my house/front door. Two gentlemen came out of time, quickly diagnosed the problem, and gave me information about the fix.<br>
    ---Harsith Mehra, Supervisor.<br><br>
       2.	Service was great! The plumber was extremely helpful and courteous. He fixed my issues quickly and was very respectful of my time constraints with another appointment. I appreciate help!<br> 
   --- Kanan Das, Homeowner.</p>
<h3 class="ms-3 mt-3">	•	Share Your Review:</h3>
<h3 class="mt-3">Review Form</h3>
<p class="fs-4">
    Your name<br>
Email<br>
Phone<br>
Review<br>
         Send Review (Button)
</p>
<h3 class="ms-3 mt-3">	•	Contacts detail:</h3>
<p class="fs-4">
    1. Work Space<br>
2. Phone Number<br>
3. Working Hours<br>
</p>
{% endblock about %}