{% extends 'base.html' %}


{% block contact %}
<h1>Contact Us</h1>

<!-- Page Content-->

<h3>Don’t waste Time & Case – build Plumber Ji your 1st call!</h3>
<h3>Get in Touch:</h3>
<h3>We realize that the only thing more pathetic than a day with no plumber is a day with a bad plumber. That’s why we’re on Call 24/7 If you wish our facilitate, we’ll get the duty done with efficiency and discretely.</h3>
<p class="fs-4 mt-3 ms-3">
    Request a quote for any of our services, get to know the way to manage your current bookings on-line, get data regarding our franchise opportunities, propose Plumber Ji a business partnership or offer feedback.
</p>
<p class="fs-4 ms-4 mt-4">
    •	Service Requests: <u>needhelp@company.com</u><br>
    •	Accounts Payable & Receivable: <u>payinfo@company.com</u><br>
    •	Sales Manager & Consulting: <u>sales@company.com</u>

</p>
<h3>Get a Quote (Form):</h3>
<p class="fs-4 mt-3 ms-3">
    •	Your name<br>
	•	Email<br>
	•	Phone<br>
	•	Address<br>
	•	Service<br>
	•	Date of Visit<br>
	•	Time of Visit<br>
Submit Request (Button)
</p>
<h3>Follow Us:</h3>
<p class="fs-4 mt-4 ms-3">
    •	Social Media Platforms
</p>    
<h3>Location we Cover:</h3>
<p class="fs-4 mt-4 ms-3">Our multiple service locations build it straightforward to deliver prompt – Same Day Service.<br><br>
    Working with a sure company to supply you with plumbing and HVAC services can go a long way towards helping you feel assured with the standard of the pipes, sewer lines, heating and cooling system in your Residential or Commercial areas. We are prideful to offer our services to the subsequent communities:</p>
<p class="fs-4 mt-4 ms-5">•  City Name, Area (Format for all location)</p>
<p class="fs-4 mt-4 ms-3">For example:</p>
<p class="fs-4 mt-4 ms-5">•	Mumbai, Andheri</p>
<h3>Map:</h3>
<p class="fs-4 mt-4 ms-5">	•	Head Office<br>
	•	Phone Numbers<br>
	•	On the Job: 24 Hour Service - 7 Days a Week<br>365 Days
</p>


{% endblock contact %}