{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block home %}
<link rel="stylesheet" href="../../static/css/styles.css">
<section class="container-fluid">
    <div class="row row-cols-1 row-cols-lg-2 mt-5 position-relative ">
        <div class="col text-center">
            <div>
                <img src="../../static/images/plumber-stamp-new.jpg" class="stamp-img img-fluid" alt="" srcset="">
                <img src="../../static/images/rahul-plumber.png" class="img-fluid" alt="" srcset="">
            </div>
            <h1 class="fw-bold header_para my-1">FIX ANY LEAK</h1>
            <p class="fs-5 fw-bold text-black">Professional Plumbers at your Doorstep</p>
            <p class="text-black fs-6">We provides fast, skilled and reliable plumbing services<br> at affordable rates.</p>
        </div>
        <div class="col">
            <div class="form-resp">
                <h6 class=" fs-3">ASK FOR A PLUMBER RIGHTAWAY</h6>
                            <form action="" method="post" class="row row-cols-1 w-75 my-2 border border-dark rounded-3 bg-light py-3 justify-content-center align-items-center">
                                {% csrf_token %}
                                {{form|crispy}}
                                <input class="btn btn-colr mt-4" type="submit" value="Submit">
                            </form>
                            <p class="fs-6">Please note: Rs.150/- are the home visit and inspection charges.</p>
            </div>
        </div>
    </div>
</section>
    <!-- =======Form Ends===== -->
    <div class="">
        <div class="header_card container my-5">
            {% include '../includes/header_card.html'%}
        </div>
    </div>
    <div class="p-2 container ">
        {% include '../includes/services_card.html' %}
    </div>
    <div class="about_company">
        {% include '../includes/about_company.html'%}
    </div>
    <div class="accordion_item">
        {% include '../includes/our_approach.html'%}
    </div>
    <div class="additional_services">
        {% include '../includes/additional_services.html'%}
    </div>
    <div class="container m-5 text-center p-5">
        <h1 class="display-6">We do Just About Anything & Everything in Plumbing</h1>
    </div>

    <div class="p-2 container ">
        <h3 class="text-center mt-5">Happy Customers</h3>
        {% include '../includes/testimonials.html' %}
    </div>
    <div class="p-5 container ">
        {% include '../includes/home_cta.html' %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
{% endblock home %}