{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block home %}
<link rel="stylesheet" href="../../static/css/styles.css">
<section class="container-fluid vh-100">
    <div class=" position-relative">
        <div class="p-2 row row-cols-1  justify-content-center align-items-center">
            <div class="col row justify-content-center align-items-center bg_custm">
                <div class='d-block text-center position-absolute top-20 text-white'>
                    <img src="../../static/images/rahul-plumber.png" class="img-fluid" width="100" alt="">
                    <h2 class="m-0 p-0 text-capitalize">Fast, skilled and Reliable</h2>
                    <h4 class="lh-base m-0 text-capitalize">want to facilitate a Plumbing Emergency?</h4>
                    <p class="text-center text-capitalize">whether or not you wish plumbing
                        instrumentality put in or existing plumbing repaired, we're here to assist.
                    </p>
                </div>
            </div>
            <!-- Form Start -->
            <div class="col colForm my-5">
                <div class="bg-light p-5 rounded-3 row row-cols-1 row-cols-lg-2">
                    <div class="col">
                        <p class="fw-bold">Ask for a Plumber</p>
                        <p class="text-black-50">We are a network of professional plumbers and will help you
                        from start to finish
                        with quick and hassle-free plumbing services</p>
                        <form action="" method="post" class="row row-cols-1 row-cols-lg-2 justify-content-center align-items-center">
                            {% csrf_token %}
                            {{form|crispy}}
                            <input class="btn btn-success display-block mt-4" type="submit" value="Submit">
                        </form>
                    </div>
                    <div class="col text-center">
                        <img src="../../static/images/ntap.jpg" class="img-fluid m-auto d-lg-block d-none" width="500" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- =======Form Ends===== -->
    <div class="my-5">
        <div class="header_card container my-5">
            {% include '../includes/header_card.html'%}
        </div>
    </div>
    <div class="p-2 container ">
        {% include '../includes/services_card.html' %}
    </div>
    <div class="about_company">
        {% include '../includes/about_company.html'%}
    </div>
    <div class="accordion_item">
        {% include '../includes/our_approach.html'%}
    </div>
    <div class="additional_services">
        {% include '../includes/additional_services.html'%}
    </div>
    <div class="container m-5 text-center p-5">
        <h1 class="display-6">We do Just About Anything & Everything in Plumbing</h1>
    </div>

    <div class="p-2 container ">
        <h3 class="text-center mt-5">Happy Customers</h3>
        {% include '../includes/testimonials.html' %}
    </div>
    <div class="p-5 container ">
        {% include '../includes/home_cta.html' %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
{% endblock home %}