{% extends 'base.html' %}

{% block support %}
<h1 class="text-info">Services</h1>
<div class="container">
    <h3 class="text-center text-info">Our Services</h3>
    <h2 class="text-center faq_title h1">Services Can You Depend On When You Call Us</h2>
    <p class="text-center text-dark fw-bold fs-6 text-muted">We know that looking for Plumbing services can be somewhat of a minefield,<br>especially if you've sprung a leak or had a breakdown</p>
    <h2 class="text-info">Commercial Services</h2>
    <div class="row row-cols-1 row-cols-lg-2 justify-content-center align-items-center">
        
        <div class="col">
            <ul>
                <li class="fw-bold my-1">Preventive Maintenance</li>
                <li class="fw-bold my-1">Drain Cleaning Services</li>
                <li class="fw-bold my-1">Sewer Installation</li>
                <li class="fw-bold my-1">Pipe Repair and Installation</li>
                <li class="fw-bold my-1">Hot Water Heating</li>
                <li class="fw-bold my-1">Sewer Repairs</li>
                <li class="fw-bold my-1">New Construction Installation</li>
                <li class="fw-bold my-1">Fixture Installation and Repair</li>
            </ul>
        </div>
        <div class="col text-center my-4">
            <img src="../../static/images/commercials.jpg" class="img-fluid cs_img" alt="" srcset="">
        </div>
    </div>
    <hr>
    <h3 class="text-info">Residential Services</h3>
    <div class="row row-cols-1 row-cols-lg-2 justify-content-center align-items-center">
        <div class="col text-center my-3">
            <img src="../../static/images/res_img.jpg" class="img-fluid css_img" alt="" srcset="">
        </div>
        <div class="col">
            <ul>
                <li class="fw-bold my-1 fs-5">Slab Leaks</li>
                <li class="fw-bold my-1 fs-5">Copper Repiping</li>
                <li class="fw-bold my-1 fs-5">Water heater repair and <br>Installation</li>
                <li class="fw-bold my-1 fs-5">Drain Cleaning</li>
            </ul>    
        </div>
    </div>
    <hr>
    <h3 class="text-info">Emergency Service</h3>
    <div class="row row-cols-1 row-cols-lg-2 justify-content-center align-items-center">
        <div class="col">
            <ul>
                <li class="fw-bold my-1 fs-5">Hot water system replacement</li>
                <li class="fw-bold my-1 fs-5">Unblocking Drains</li>
                <li class="fw-bold my-1 fs-5">Unblocking Toilets</li>
                <li class="fw-bold my-1 fs-5">Leaking Tap Repairs</li>
                <li class="fw-bold my-1 fs-5">Brust and Leaking pipes</li>
            </ul>

        </div>
        <div class="col text-center my-4">
            <img src="../../static/images/emergency.jpg" class="img-fluid cs_img" alt="" srcset="">
        </div> 
    </div>

    <a href="{% url 'home' %}" class="btn btn-block btn-primary">Schedule Service</a>

</div>
{% endblock support %}